body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20vh 0 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

button {
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    background-color: #83ca06;
    color: #333;
    transition: all .2s;
}

button:hover {
    filter: opacity(80);
    cursor: pointer;
}


button:active {
    transform: scale(1.02)
}

